<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCnWlG4g4K7BGop0e4wZ2TnW3Mmiq-LatM</string>
	<key>GCM_SENDER_ID</key>
	<string>358714290872</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication2.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>emorhythm-be997</string>
	<key>STORAGE_BUCKET</key>
	<string>emorhythm-be997.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:358714290872:ios:6813a032543d13bd5f3a4d</string>
</dict>
</plist>